
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button>Atras</ion-back-button>
      </ion-buttons>
      <ion-title>RegisApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Log In</strong><br><br><br>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Ingrese credenciales</ion-card-title>
      </ion-card-header>
    
      <ion-item>
        <ion-input [(ngModel)]="user.username" label="Usuario" placeholder="Ingrese nombre de usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" [(ngModel)]="user.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{mensaje}}</ion-label>
      </ion-item>
    </ion-card>
    

    
    <div *ngIf="spinner">
      <ion-item id="carga">
        <ion-label>Cargando</ion-label>
      </ion-item>
      <ion-item id="carga">
        <mat-spinner></mat-spinner>
      </ion-item>
    </div>
    <ion-button shape="round" color="tertiary" (click)="validar()">Conectar</ion-button><br>
    <ion-button fill="outline" [routerLink]="['/register']">Registrar</ion-button>
    <ion-button shape="round" color="tertiary">Ingresa</ion-button><ion-button shape="round" color="tertiary" [routerLink]="['/login']">Recuperar Contraseña</ion-button>
  </div>
</ion-content>
