<ion-header>
  <ion-toolbar class="toolbar-centered">
    <ion-buttons slot="start" class="back-button-container">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-centered">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <div id="container"><br><br>
    <strong>Generar</strong><br><br>
    <ion-card>
      <img alt="Duoc" src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" />
      <ion-card-header>
        

      </ion-card-header>
      <qr-code *ngIf="qrText"[value]="qrText" 
      size="190" 
      errorCorrectionLevel="M" />
      <img *ngIf="!qrText" src="assets/images/qr.webp" alt="">
      <div class="ion-padding-top">{{qrText}}</div>
      
    </ion-card>
    <ion-textarea label="Generar otro qr" labelPlacement="stacked" fill="outline" [(ngModel)]="qrText" rows="3" [autoGrow]="true"></ion-textarea>
  </div>
</ion-content>