<ion-header>
  <ion-toolbar class="toolbar-centered">
    <ion-buttons slot="start" class="back-button-container">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-centered">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <div id="container"><br><br>
    <strong>Generar</strong><br><br>
    <ion-card>
      <div id="qrImage">
        <div class="d-flex-center">
        <div class="d-flex-center qr-wrapper">
          <qr-code *ngIf="qrText"[value]="qrText" size="190" errorCorrectionLevel="M" />
          <img *ngIf="!qrText" src="assets/images/qr.webp" alt=""></div></div></div>
    </ion-card>
    <div class=" ion-padding-bottom">{{qrText}}</div>
    
      <ion-textarea label="Generar otro qr" labelPlacement="stacked" fill="outline" [(ngModel)]="qrText" rows="3" [autoGrow]="true"></ion-textarea>
    
  </div>
</ion-content>