<ion-header>
  <ion-toolbar class="toolbar-centered">
    <ion-buttons slot="start" class="back-button-container">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-centered">Lector QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <div id="container"><br><br>
    <strong>Registra tu asistencia</strong><br><br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Escanea el qr</ion-card-title>
      </ion-card-header>
    <img src="assets/images/scan-qr.webp" alt="">
    <h6 class="scan-label">Escanea un qr para registrar tu asistencia</h6>
    </ion-card>
    
        <ion-button (click)="startScan()" expand="block" class="submit">Escanea el QR
          <ion-icon slot="end" name="scan-outline"></ion-icon>
        </ion-button>
    <ion-item class="result" *ngIf="scanResult" lines="none">
      <ion-label>
        <p>Resultado Escaneo</p>
        <div>{{scanResult}}</div>
      </ion-label>
      <ion-buttons slot="end" >

        <ion-button *ngIf="isUrl()" (click)="openCapacitorSite()">
          <ion-icon slot="icon-only" name="globe-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="writeToClipboard()">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>
</ion-content>