<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Usuarios Administrador</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Lista de usuarios -->
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botones -->
  <ion-button expand="full" fill="outline" (click)="loadUsers()">Actualizar Lista</ion-button>
  <ion-button expand="full" (click)="mostrarUsuarios()">Ver Usuarios en Consola</ion-button>
  <ion-button expand="full" (click)="limpiarTodo()">Limpiar Todo</ion-button>
</ion-content>

